{% extends '_base.html' %}
{% block title %}{{industry.industry}} Industry Companies Data{% endblock title %}
{% block content %}
<h1>{{industry.industry}} Companies Data</h1>
<p><a href="{% url 'home' %}">Back to home page</a></p>
<p><a href="{% url 'sectordetail' industry.sector.slug %}">Back to {{industry.sector}} sector</a></p>
<p>{{industry.industry}} industry average indicators:</p>
<ul>
<li>Margin: {{industry.avg_margin|floatformat:"-2"}}</li>
<li>Leverage: {{industry.avg_leverage|floatformat:"-2"}}</li>
<li>Dividend yield: {{industry.avg_dividend_yield|floatformat:"-2"}}</li>
</ul>
<h2>Companies and their data</h2>
<table>
  <tr>
    <th>Ticker</th>
	<th>Name</th>
	<th>Forward P/E</th>
	<th>Beta</th>
	<th>Cash Flow Positive</th>
    <th>Margin</th>
	<th>Leverage</th>
	<th>Liquidity</th>
	<th>Dividend Yield</th>
	<th>Assets Turnover</th>
  </tr>
{% for company in industry.companies.all|dictsort:"margin" %}
  <tr>
    <td><a href="{% url 'companydetail' company.ticker %}">{{company.ticker}}</a></td>
	<td><a href="{% url 'companydetail' company.ticker %}">{{company.shortname}}</a></td>
	<td style="text-align:center">{{company.forwardpe|floatformat:"-2"}}</td>
	<td style="text-align:center">{{company.beta|floatformat:"-2"}}</td>
	<td style="text-align:center">{{company.cfpositive|floatformat:"-2"}}</td>
    <td style="text-align:center">{{company.margin|floatformat:"-2"}}</td>
	<td style="text-align:center">{{company.leverage|floatformat:"-2"}}</td>
	<td style="text-align:center">{{company.liquidity|floatformat:"-2"}}</td>
	<td style="text-align:center">{{company.dividendyield|floatformat:"-4"}}</td>
	<td style="text-align:center">{{company.assetsturnover|floatformat:"-4"}}</td>
  </tr>
{% endfor %}
</table>
<p>The list of companies is sorted by Margin.</p>
<p>If you'd like to see it sorted by Leverage, click <a href="{% url 'industrydetailleverage' industry.slug %}">here</a>.</p>
<p>If you'd like to see it sorted by Forward P/E, click <a href="{% url 'industrydetailpe' industry.slug %}">here</a>.</p>
<p>All numbers and indicators on this page are calculated using the data from the last 12 months that are available.</p>
{% endblock content %}